package auth

templ Login() {
	<div class="login-page">
		<form id="login-form">
			<label>Username
				<input name="username" type="text" value="" />
			</label>
			<label>Password
				<input name="password" value="" type="password" value="" />
			</label>
			<button class="btn" data-on-click="@post('/auth/login', {contentType: 'form'})">
				Login
			</button>
		</form>
	</div>
}

