package intro

templ Intro() {
	<div>
		<section class="intro-section intro-section--right">
			<div class="intro-section__inner">
				<h1>vaev</h1>
			</div>
		</section>
		<section class="intro-section intro-section--left">
			<div class="intro-section__inner">
				<h1>vaev</h1>
			</div>
		</section>
	</div>
}
